<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

    <head th:replace="plantilla/template::head"></head>

    <body>
        <!---Header-->
        <header th:replace="plantilla/template::header"></header>
        <!---Contenido-->
        <div class="card-body">
            <!--------Esto es un Formulario-------->
            <div class="container">
                <form th:object="${persona}" th:action="@{/editPersona/{id}(id=${persona.getId})}" method="POST">
                    <div class="d-grid mx-auto mb-2 row col-10">
                        <div class="card-body">
                            <div class="container">
                                <form th:object="${persona}" th:action="@{/save}" method="POST">
                                    <!---Titulo-->
                                    <h2 style="font-weight: bold; color: #000f9f; text-align: center; padding: 50px;" th:text="${titulo}"></h2>
                                    <!---Nombre-->
                                    <div class="form-group mb-3 row"style="color: #000f9f; font-weight: bold;">
                                        <label class="col-md-2 col-form-label" for="nombre">NOMBRE</label>
                                        <div class="col-sm-10">
                                            <input type="text"class="form-control form-control-sm col-md-7" th:field="*{nombre}" placeholder="Nombre Cliente" 
                                                   id="nombres"aria-describedby="emailHelp">
                                        </div>
                                    </div>
                                    <!---Apellido 1-->
                                    <div class="form-group mb-3 row "style="color: #000f9f; font-weight: bold;">
                                        <label class="col-md-2 col-form-label" for="apellido1">APELLIDO 1</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control form-control-sm col-md-6" th:field="*{apellido1}"placeholder="Apellido 1" 
                                                   id="apellido1"aria-describedby="emailHelp">
                                        </div>
                                    </div>
                                    <!---Apellido 2-->
                                    <div class="form-group mb-3 row"style="color: #000f9f; font-weight: bold;"><label class="col-md-2 col-form-label" for="apellido2">APELLIDO 2</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control form-control-sm col-md-6" th:field="*{apellido2}" placeholder="Apellido 2" 
                                                   id="apellido2"aria-describedby="emailHelp">
                                        </div>
                                    </div>
                                    <!---Correo-->
                                    <div class="form-group mb-3 row"style="color: #000f9f; font-weight: bold;">
                                        <label class="col-md-2 col-form-label" for="email">Correo</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control form-control-sm col-md-6"  th:field="*{email}" placeholder="Email"
                                                   id="email" aria-describedby="emailHelp">
                                        </div>
                                    </div>
                                    <!---Telefono-->
                                    <div class="form-group mb-3 row"style="color: #000f9f; font-weight: bold;">
                                        <label class="col-md-2 col-form-label" for="telefono">Telefono</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control form-control-sm col-md-6" th:field="*{telefono}"placeholder="Telefono (0000-0000)" 
                                                   id="telefono"aria-describedby="emailHelp">
                                        </div>
                                    </div>
                                    <!---Pais-->
                                    <div class="form-group mb-3 row"style="color: #000f9f; font-weight: bold;">
                                        <label class="col-md-2 col-form-label" for="paises">Paises</label>
                                        <div class="col-sm-10"style="color: #000f9f;">
                                            <select th:field="*{pais}" class="form-control form-control-sm col-md-6" id="pais" aria-describedby="emailHelp">
                                                <option th:each="x:${paises}" th:value="${x.id}" th:text="${x.pais}"/>
                                            </select>
                                        </div>
                                    </div>
                                    <!---Botones-->
                                    <div class="d-grid gap-2 col-3 mx-auto">
                                        <button type="submit" class="btn btn-primary" value="Guardar">ENVIAR</button>
                                        <a class="btn btn-danger " href="/persona">CANCELAR</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
            <!---Footer-->
            <footer th:replace="plantilla/Template::footer"></footer>
    </body>

</html>