<html xmlns:th="https://www.thymeleaf.org">

    <head th:replace="plantilla/template::head"></head>

    <body>
        <!---Header-->
        <header th:replace="plantilla/template::header"></header>

        <!---Title-->
        <h2 style=" text-align: center; padding: 20px;" th:text="#{cliente.titulo}"></h2>

        <!---Table-->
        <div style="text-align: center; padding: 20px;">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr style="color: white; background-color: #000f9f;">
                        <th scope="col">ID</th>
                        <th scope="col">PAIS</th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="user : ${paises}">
                    <tr >
                        <td th:text="${user.getId}"></td>
                        <td th:text="${user.getPais}"></td>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>

        <!---Footer-->
        <footer th:replace="plantilla/template::footer"></footer>
    </body>

</html>