<html xmlns:th="https://www.thymeleaf.org">

    <head th:replace="plantilla/template::head"></head>

    <body>
        <!---Header-->
        <header th:replace="plantilla/template::header"></header>

        <!---Title-->
        <h2 style=" text-align: center; padding: 20px;" th:text="#{cliente.titulo}"></h2>

        <div class="table-btn">
            <!---Buscars-->
            <div class="busqueda">
                <form action="/search" method="get">
                    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                        <div class="input-group">
                            <input type="text" id="name" name="apellido1" required placeholder="Buscar por apellido1" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                            <div class="input-group-append">
                                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><ion-icon name="search-circle-sharp"></ion-icon></button>
                            </div>
                        </div>
                    </div>
            </div>
            <!---Agregar-->
            <div class="limpiar">
                <button class="btn" style="background: #000f9f; color: white" type="button" onclick="window.location.href = '/persona'">LIMPIAR</button>
            </div>
            <div class="agregar">
                <button class="btn btn-success" type="button" onclick="window.location.href = '/personaN'">Agregar</button>
            </div>
        </div>

        <!---Table-->
        <div style="text-align: center; padding: 20px;">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr style="color: white; background-color: #000f9f;">
                        <th scope="col">NOMBRE</th>
                        <th scope="col">APELLIDO 1 </th>
                        <th scope="col">APELLIDO 2</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">TELEFONO</th>
                        <th scope="col">PAIS</th>
                        <th scope="col">
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="user : ${apellido}">
                    <tr >
                        <td th:text="${user.getNombre}"></td>
                        <td th:text="${user.getApellido1}"></td>
                        <td th:text="${user.getApellido2}"></td>
                        <td th:text="${user.getEmail}"></td>
                        <td th:text="${user.getTelefono}"></td>
                        <td th:text="${user.getPais.getPais}"></td>
                        <td width="15%" style="padding-bottom: 1px; padding-top: 1px;">
                            <a href="#!" style="" th:href="@{/editPersona/{id}(id=${user.getId})}"><ion-icon name="create-sharp"></ion-icon></a>
                            <a href="#!" style="" th:href="@{/delete/{id}(id=${user.getId})}"><ion-icon name="trash-sharp"></ion-icon></a>
                        </td>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>

        <!---Footer-->
        <footer th:replace="plantilla/template::footer"></footer>
    </body>

</html>