/* 
    box-sizing: content-box y border-box     
*/
.block{
    background-color: purple;
    border: 20px solid blue;
    padding: 20px;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
}

.static{
    position: static;
    border: 3px solid green;
    top: 400px;
    left: 500px;
}

.relative{
    position: relative;
    border: 3px solid green;
    top: 400px;
    left: 500px;
    width: 400px;
    height: 400px;
}

.fixed{
    position: fixed;
    border: 3px solid green;
    top: 150px;
    left: 50px;
    width: 100px;
    height: 100px;  
}

.absolute{
    position: absolute;
    border: 3px solid green;
    top: 80px;
    left: 50px;
    width: 100px;
    height: 100px;  
}